$colors: (
    violet: rgb(143, 98, 173),
    dark: rgb(118, 82, 139) !important,
    blue: rgb(96, 133, 255),
    light-blue: rgb(130, 151, 223),
    light: #cab7d6 !important,
);

@each $key, $color in $colors {
    .text-#{$key} { color: #{$color} }
    .bg-#{$key} { background: #{$color} }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes floating {
	0% {
		top: -30px;
	}
	50% {
		top: -29px;
	}
	100% {
		top: -30px;
	}
}

button:focus, a:focus, input:focus, textarea:focus {outline:0;}

.mainmenu {
    position: fixed;
    background: rgba(0,0,0,.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align:center;
    padding-top: 30vh;
    z-index: 100;
    // display: none;

    ul {
        li.nav-item  {
            a.nav-link {
                position: relative;
                font-size: 44px;
                transition: 300ms;
                color: white;
                text-transform: uppercase;

                &:hover {
                    color: map-get($colors, blue);
                    transition: 300ms;
                }
            }
        }
    }

    button.close {
        color: white;
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 1 !important;
        font-size: 40px;
    }
}

#header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding-top: 10em;
}

.floating {
    position: absolute;
    animation: floating 1ms ease infinite;
}

.diagonal {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    // background: rgb(143, 98, 173);
    // transform: skew(15deg);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.btn {
    border-radius: 50em;
}

.line-btn {
    border: 2px solid map-get($colors, dark);
    color:  map-get($colors, dark);
    background: white;
}

.minutes {
    height: 200px;
    position: relative;
    text-align: right;
    // width: 101px;
}

.minute {
    bottom: 0;
    min-height: 100px;
    min-width: 100px;
    padding: 15px 15px 15px 5em;
    // overflow: hidden;
    background: white;
    border-radius: .3em;
    margin-bottom: -180px;
    opacity: 0;
    position: absolute;
    right: 0;

    & .icon {
        width: 5em;
        height: 5em;
        position: absolute;
        bottom: -20px;
        left: -20px;
        text-align: left;
        background: map-get($colors, blue);
        border-radius: .5em;
        padding: 10px;
        color: white;
        box-shadow: -3px 3px 25px rgba(0,0,0,.2);
    }
}

.wipe-in {
    opacity: 1;
    transition: transform 3s, opacity 3s;
    transform: translateY(-100%);
}

.wipe-out {
    opacity: 0;
    transition: transform 2700ms, opacity 2700ms;
    transform: translateY(-200%);
}

.material-icons {
    transform: translate(0, 4px);
    font-size: 19px !important;
}

.mobile {
    display: none;
}

@media screen and (max-width: 900px) {
    .wipe-in {
        opacity: 1;
        transition: transform 3s, opacity 3s;
        transform: translateY(0%);
    }

    .wipe-out {
        opacity: 0;
        transition: transform 2700ms, opacity 2700ms;
        transform: translateY(50%);
    }
}

@media screen and (max-width: 767px) {
    .desktop {
        display: none;
    }

    .wipe-in {
        opacity: 1;
        transition: transform 3s, opacity 3s;
        transform: translateY(0%);
    }

    .wipe-out {
        opacity: 0;
        transition: transform 2700ms, opacity 2700ms;
        transform: translateY(50%);
    }

    #header {
        height: auto;
        overflow: auto;
    }
    
    .jobs-carrousel {
        min-height: 100vh;
    }
}