$colors: (
    violet: rgb(143, 98, 173),
    dark: rgb(118, 82, 139) !important,
    blue: rgb(96, 133, 255),
    light-blue: rgb(130, 151, 223),
    light: #cab7d6 !important,
);

@each $key, $color in $colors {
    .text-#{$key} { color: #{$color} }
    .bg-#{$key} { background: #{$color} }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding-top: 10em;
}

.nav-link {
    color:white !important;
}

.diagonal {
    position: absolute;
    top: 0;
    right: -6em;
    height: 100%;
    width: 50%;
    // background: rgb(143, 98, 173);
    transform: skew(15deg);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.btn {
    border-radius: 50em;
}

.line-btn {
    border: 2px solid map-get($colors, dark);
    color:  map-get($colors, dark);
    background: white;
}

.minutes {
    margin-left: 30px;
  }
  
  .minutes {
    height: 200px;
    position: relative;
    width: 101px;
  }
  
  .minute {
    bottom: 0;
    font-size: 84px;
    font-weight: bold;
    height: 100px;
    opacity: 0;
    position: absolute;
  }
  
  .wipe-in {
    opacity: 1;
    transition: transform 3s, opacity 3s;
    transform: translateY(-100%);
  }
  
  .wipe-out {
    opacity: 0;
    transition: transform 2700ms, opacity 2700ms;
    transform: translateY(-200%);
  }
  
  .minute span {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 3px;
  }